{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="example-wrapper">
   <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, repellat. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et in numquam eveniet deserunt rerum obcaecati necessitatibus accusantium dolores delectus harum. Soluta distinctio vero eligendi repellat rerum ab autem earum iusto!
        Ab at, nam fuga facilis quam porro, quibusdam et eos quia corporis eveniet laudantium nisi. Aspernatur, eligendi optio excepturi odit ipsam quasi mollitia eum aut modi neque. Recusandae, beatae illum?
        Eum ut pariatur laboriosam obcaecati asperiores saepe voluptas, accusantium et dicta iure ipsam architecto optio aperiam, cupiditate placeat, incidunt corporis dignissimos ullam voluptatibus. Sequi, exercitationem consequatur tempore porro rerum quod!
        Facilis adipisci atque tenetur doloribus dolor pariatur eos suscipit aliquid ipsa maxime sequi, nisi voluptatum veniam ratione esse, sunt consequuntur exercitationem provident, placeat quidem cumque vero. Quibusdam alias rem nesciunt?
        Suscipit quo expedita ullam incidunt eveniet distinctio in sit dolor dolorum unde est ex, iste maxime vel delectus tenetur optio beatae libero voluptates facere, soluta reprehenderit quod. Enim, harum nulla?
        Aliquid tempore a neque qui nisi. Iste, consequuntur? Fuga laboriosam facilis, similique tempore ratione distinctio est earum excepturi, architecto harum quos dolorum porro facere voluptate consectetur molestia
        Culpa aperiam doloribus omnis sint temporibus quam corporis voluptatum, voluptates ipsam neque repellat explicabo ipsa non obcaecati exercitationem quaerat suscipit itaque voluptatibus tempore sit dolorem perspiciatis! Dolore et atque perspiciatis?
        Assumenda sit consequatur molestiae vero sint nesciunt? Voluptatibus deserunt, libero laudantium sequi repellat tempore consequuntur soluta ad illo perspiciatis eaque sunt quibusdam nesciunt dolor aliquam odio dolore, eveniet incidunt quaerat!</p>
   </div>
</div>
{% endblock %}
