<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Aliexprass - Shopping{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="AliExprass" name="author">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Exclusively for all! Take advantage of up to -50% on these offers during our smart days. Shop smart with discounts on electronics, phones and home goods. Up to -50% Buyer Protection. Free Shipping. Summer promo. Great Value. A multitude of sellers.">
        <meta name="keywords" content="">
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">
        <link rel="stylesheet" href="assets/style.css">
        
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include "partials/header.html.twig" %}
        <div class="content">
            {% block body %}
            
            {% endblock %}
        </div>
        {% include "partials/footer.html.twig" %}
    </body>
        <script src="assets/js/jquery-1.12.4.min.js"></script> 
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/owlcarousel/js/owl.carousel.min.js"></script>
        <script src="assets/js/magnific-popup.min.js"></script>
        <script src="assets/js/waypoints.min.js"></script> 
        <script src="assets/js/parallax.js"></script> 
        <script src="assets/js/jquery.countdown.min.js"></script> 
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/isotope.min.js"></script>
        <script src="assets/js/jquery.dd.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery.elevatezoom.js"></script>
        <script src="assets/js/scripts.js"></script>   
</html>
